@import '@colors';

.login-container {
	width: 100%;
	height: 100vh;

	.login-wrapper {
		height: 100%;
		display: flex;

		.left-side {
			width: 50%;
			display: flex;
			flex-direction: column;
			padding: 30px;
	
			.header {
				width: 100%;
			}
		}
	
		.right-side {
			width: 50%;
			background-color: $primary-1;
		}

		
		@media only screen and (max-width: 1024px) {
			.right-side {
				display: none;
			}
			
			.left-side {
				width: 100%;
			}
		}
	}
}
