<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
			* {
				font-family: 'Inter', sans-serif;
			}

			body {
				margin: unset;
				height: 100vh;
				width: 100%;
				color: #1F2528;
				font-variant-numeric: tabular-nums;
			}

			a {
				text-decoration: none;
			}

			.logo {
				width: 200px;
			}

			.container {
				margin: 0 auto;
				width: 60%;
				border: 1px solid lightgray;
				padding: 15px;
			}

			.header {
				margin-bottom: 30px;
			}
		</style>
		<title>Welcome Email</title>
	</head>
	<body>
		<div class="container">
			<div class="header">
				<img class="logo" src="https://res.cloudinary.com/dbtgm7sed/image/upload/v1675713800/logos/logo-no-background_a81fza.png" alt="Logo" title="Logo" style="display:block" width="200"/>
			</div>
			<div>
				<p>
					Hello {{name}},
				</p>
				<p>
					You are receiving this email because a request to reset your password has been made for your WishSuite account. Please follow the link
					below in order to proceed in resetting your password.
				</p>
				<br>
				<p>
					Password Reset Link:
				</p>
				<p>
					{{link}}
				</p>
				<br>
				<p>
					Cheers,
				</p>
				<p>
					WishSuite
				</p>
			</div>
		</div>
	</body>
</html>