@import '@colors';

:export {
	primary1: $primary-1;
	primary2: $primary-2;
	primary3: $primary-3;
	primary4: $primary-4;
	primary5: $primary-5;
	primary6: $primary-6;
	primary7: $primary-7;
	primary8: $primary-8;

	blue1: $primary-1;
	blue2: $primary-2;
	blue3: $primary-3;
	blue4: $primary-4;
	blue5: $primary-5;
	blue6: $primary-6;
	blue7: $primary-7;
	blue8: $primary-8;

	neutralWhite: $neutral-white;
	neutralBlack: $neutral-black;

	divider: $divider;

	grey1: $grey-1;
	grey2: $grey-2;
	grey3: $grey-3;
	grey4: $grey-4;
	grey5: $grey-5;
	grey6: $grey-6;
	grey7: $grey-7;
	grey8: $grey-8;
	grey9: $grey-9;
	grey10: $grey-10;
	grey11: $grey-11;
	grey12: $grey-12;

	pink1: $pink-1;
	pink2: $pink-2;
	pink3: $pink-3;
	pink4: $pink-4;
	pink5: $pink-5;
	pink6: $pink-6;
	pink7: $pink-7;
	pink8: $pink-8;

	purple1: $purple-1;
	purple2: $purple-2;
	purple3: $purple-3;
	purple4: $purple-4;
	purple5: $purple-5;
	purple6: $purple-6;
	purple7: $purple-7;
	purple8: $purple-8;

	teal1: $teal-1;
	teal2: $teal-2;
	teal3: $teal-3;
	teal4: $teal-4;
	teal5: $teal-5;
	teal6: $teal-6;
	teal7: $teal-7;
	teal8: $teal-8;

	green1: $green-1;
	green2: $green-2;
	green3: $green-3;
	green4: $green-4;
	green5: $green-5;
	green6: $green-6;
	green7: $green-7;
	green8: $green-8;

	yellow1: $yellow-1;
	yellow2: $yellow-2;
	yellow3: $yellow-3;
	yellow4: $yellow-4;
	yellow5: $yellow-5;
	yellow6: $yellow-6;
	yellow7: $yellow-7;
	yellow8: $yellow-8;

	orange1: $orange-1;
	orange2: $orange-2;
	orange3: $orange-3;
	orange4: $orange-4;
	orange5: $orange-5;
	orange6: $orange-6;
	orange7: $orange-7;
	orange8: $orange-8;

	red1: $red-1;
	red2: $red-2;
	red3: $red-3;
	red4: $red-4;
	red5: $red-5;
	red6: $red-6;
	red7: $red-7;
	red8: $red-8;
}